<%
  create_attributes ||= {}
  create_model      ||= schema.model
  create_model      =   create_model.new
%>

<% if local_assigns.fetch(:filters, true) %>
  <%= render 'azahara_schema/index_form', schema: schema %>
<% end %>
<% if local_assigns.fetch(:show_toolbar, false) %>
  <div class="btn-toolbar text-right" role="toolbar" aria-label="Toolbar">
    <% if can?(:create, create_model) %>
      <div class="btn-group" role="group" aria-label="<%= t('label_actions') %>">
        <%= link_to label_record_action(create_model), new_polymorphic_path(create_model, create_attributes), class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
<% end %>
<% schema.outputs.each do |output| %>
  <%= render output, local_assigns.merge(schema: schema) %>
<% end %>
<div class="exports text-right">
  <% if (csv_path = azahara_export_path(schema, :csv)) %>
    <%= link_to csv_path do %>
      <i class="fa fa-file-o"></i>
      <%= t('label_export_as', as: 'CSV') %>
    <% end %>
  <% end %>
</div>
